<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.servicedemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
            android:name="com.demo.service.ServiceDemo"
            android:enabled="true"
            android:exported="true" >
            
            <intent-filter >
                <action android:name="com.demo.service.ServiceDemo.START"/>
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
        <receiver android:name="com.feiyue.dvbservice.BootBroadcastReceiver"
            >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
